.help{
    display: flex;
    flex-direction: column;
}
.help-options{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.help > h2 {
    margin-left: 20px;
    font-size: 30px;
}
.help-options > div {
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.help-options > div:hover{
    cursor: pointer;
    text-decoration: underline;
}
.help-icon{
    background-color:gray !important;
    color: white !important;
    border-radius: 30px !important;
    width: 40px !important;
    height: 40px !important;
    font-size: smaller !important;
    margin-right: 10px !important;
}